/* body{
    background-color:rgb(34, 33, 33); 
} */

body {
    background-color: white;
    color:black;
    border: 1px solid black;
  }
  
  .dark-mode {
    background-color:rgb(34, 33, 33);
    color: white;
  } 

#huda{
    display:block; 
    padding:10px;
    margin-top:0;
    height:500px;
    overflow:auto;
}

@media(max-width: 575.98px){
  #overview-image{
      display: none;
  }

  #bar-chart{
    display: none;
  }
}